{% extends 'base.html.twig' %}

{% block title %} Ajouter un employé {% endblock %}

{% block body %}

    <h1 class="text-center my-4 text-succes">Ajouter un employé dans l'annuaire</h1>


    {{ form(form_employe)}}


{% endblock %}



